

      html {
        height: 100%;
        width: 100%;
      }

      body {
        font-family: 'Open Sans', serif;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
      }

      

      .buyClassification {

      display: block;
      position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
 
      overflow-x: auto;
      overflow-y: auto;
      background-color: rgba(255, 255, 255, 1);
      width: 1366.00px;
    height: 768.00px;
    left: 0px;
    top: 0px;

}
.buyClassification .homenav {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
   
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(30, 78, 64, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 30.00px;
    font-weight: 700;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 85.00px;
  height: 40.00px;
  left: 861.00px;
  top: 64.00px;

}

.buyClassification .buynav {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
 
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(30, 78, 64, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 30.00px;
    font-weight: 700;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 54.00px;
  height: 40.00px;
  left: 1037.00px;
  top: 64.00px;

}

.buyClassification .rentnav {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(30, 78, 64, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 30.00px;
    font-weight: 700;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 65.00px;
  height: 40.00px;
  left: 1182.00px;
  top: 64.00px;

}
.buyClassification .backgroundrectangle {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
 
      background-color: rgba(224, 235, 237, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 20.00px;
      border-top-right-radius: 20.00px;
      border-bottom-left-radius: 20.00px;
      border-bottom-right-radius: 20.00px;
      box-shadow: none;
      width: 1194.00px;
    height: 566.00px;
    left: 80.00px;
    top: 157.00px;

}

.buyClassification .untitled {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/untitled.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 569.00px;
    height: 453.00px;
    left: 705.00px;
    top: 258.00px;

}

.buyClassification .heading {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
   
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 51.00px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 605.00px;
    height: 68.00px;
    left: 414.00px;
    top: 212.00px;

}

.buyClassification .homenav {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
  
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(30, 78, 64, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 30.00px;
    font-weight: 700;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 85.00px;
  height: 40.00px;
  left: 920.00px;
  top: 64.00px;

}

.buyClassification .buynav {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
 
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(30, 78, 64, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 30.00px;
    font-weight: 700;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 54.00px;
  height: 40.00px;
  left: 1053.00px;
  top: 64.00px;

}



.buyClassification .rentnav {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
 
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(30, 78, 64, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 30.00px;
    font-weight: 700;
  font-style: normal;
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 65.00px;
  height: 40.00px;
  left: 1182.00px;
  top: 64.00px;

}

.buyClassification .xc9300c35 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
   
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(30, 78, 64, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 71.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Gandhara Suls', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 344.00px;
    height: 160.00px;
    left: 80.00px;
    top: 0.00px;

}

.buyClassification .whiterectangle {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
    
      background-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 20.00px;
      border-bottom-left-radius: 20.00px;
      border-bottom-right-radius: 20.00px;
      box-shadow: none;
      width: 690.00px;
    height: 189.00px;
    left: 173.00px;
    top: 357.00px;

}

.buyClassification .residentialbutton {

      display: block;
      position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
   
      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 262.00px;
    height: 83.00px;
    left: 235.00px;
    top: 402.00px;

}

.buyClassification .residentialbutton .residentialrectangle {
    position: absolute;
      box-sizing: border-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
  
      background-color: rgba(30, 78, 64, 1);
      border-bottom-color: rgba(227, 243, 238, 1);
      border-bottom-style: solid;
      border-bottom-width: 1.00px;
      border-left-color: rgba(227, 243, 238, 1);
      border-left-style: solid;
      border-left-width: 1.00px;
      border-right-color: rgba(227, 243, 238, 1);
      border-right-style: solid;
      border-right-width: 1.00px;
      border-top-color: rgba(227, 243, 238, 1);
      border-top-style: solid;
      border-top-width: 1.00px;
      border-top-left-radius: 15.00px;
      border-top-right-radius: 15.00px;
      border-bottom-left-radius: 15.00px;
      border-bottom-right-radius: 15.00px;
      box-shadow: none;
      width: 262.00px;
    height: 83.00px;
    left: 0.00px;
    top: 0.00px;

}

.buyClassification .residentialbutton .residentialtext {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
   
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(227, 243, 238, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 30.00px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 148.00px;
    height: 40.00px;
    left: 57.00px;
    top: 24.00px;

}

.buyClassification .commercialbutton {

      display: block;
      position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
 
      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 262.00px;
    height: 83.00px;
    left: 528.00px;
    top: 402.00px;

}

.buyClassification .commercialbutton .commercialrectangle {
    position: absolute;
      box-sizing: border-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
   
      background-color: rgba(30, 78, 64, 1);
      border-bottom-color: rgba(224, 235, 237, 1);
      border-bottom-style: solid;
      border-bottom-width: 1.00px;
      border-left-color: rgba(224, 235, 237, 1);
      border-left-style: solid;
      border-left-width: 1.00px;
      border-right-color: rgba(224, 235, 237, 1);
      border-right-style: solid;
      border-right-width: 1.00px;
      border-top-color: rgba(224, 235, 237, 1);
      border-top-style: solid;
      border-top-width: 1.00px;
      border-top-left-radius: 15.00px;
      border-top-right-radius: 15.00px;
      border-bottom-left-radius: 15.00px;
      border-bottom-right-radius: 15.00px;
      box-shadow: none;
      width: 262.00px;
    height: 83.00px;
    left: 0.00px;
    top: 0.00px;

}

.buyClassification .commercialbutton .commercialtext {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
    
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(227, 243, 238, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 30.00px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 162.00px;
    height: 40.00px;
    left: 50.00px;
    top: 22.00px;

}

.buyClassification .buydisplay {

      display: block;
      position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
  
      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 237.00px;
    height: 82.00px;
    left: 172.00px;
    top: 275.00px;

}

.buyClassification .buydisplay .buyrectangle {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
   
      background-color: rgba(223, 145, 9, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 20.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 237.00px;
    height: 82.00px;
    left: 0.00px;
    top: 0.00px;

}

.buyClassification .buydisplay .buytext {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
    
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 37.00px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 66.00px;
    height: 49.00px;
    left: 86.00px;
    top: 17.00px;

}

